<footer class="bg-primary text-light py-4 mt-2 text-center">
    <div class="container">
        <div class="row text-center text-md-center">
            <!-- Coluna Sobre -->
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <h5>Sobre</h5>
                <p class="small">
                    <b>Loader</b> é um aplicativo para realizar ações antes e após o upload do arquivo.
                </p>
            </div>
            
            <!-- Coluna Links Úteis -->
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <h5>Links úteis</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/nathaniel78/loader" class="link-custom-footer text-light" target="_blank" rel="noopener noreferrer">
                            Repositório no GitHub
                        </a>
                    </li>
                </ul>
            </div>
            
            <!-- Coluna Contato -->
            <div class="col-12 col-md-4">
                <h5>Contato</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-envelope"></i> 
                        <a href="mailto:nathanieljose78@gmail.com" class="text-light text-decoration-none">nathanieljose78@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <hr class="my-4 border-light">
        
        <!-- Direitos Autorais -->
        <div class="text-center small">
            © 2024. Código disponível como Open Source com restrições comerciais. Modificações apenas mediante autorização prévia.
        </div>
    </div>
</footer>

