<footer class="bg-primary text-light py-4 mt-2 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-3">
                <h5>Sobre</h5>
                <p class="small"><b>Loader</b> é um aplicativo para realizar ações pós e após o upload do arquivo.</p>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <h5>Links úteis</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="link-custom-footer text-light">https://github.com/nathaniel78/loader</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <h5>Contato</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope"></i> E-mail: nathanieljose78@gmail.com</li>
                </ul>
            </div>
        </div>
        <hr class="my-3 border-light">
        <div class="text-center small">
            © 2024. Código disponível como Open Source com restrições comerciais. Modificações apenas mediante autorização prévia.
        </div>
    </div>
</footer>
