{% load static %}
<header class="py-3 bg-light border-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-md-3">
                <a href="#" class="navbar-brand text-dark">
                    <img src="{% static 'image/logo_loader.png' %}" alt="Loader" width="80">
                </a>
            </div>
            <div class="col-6 col-md-9">
                <nav class="navbar navbar-expand-md justify-content-end">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-primary custom-link" href="#">Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
