<nav id="sidebarMenu" class="sidebar col-md-3 col-lg-2 d-md-block bg-light">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <h4 class="text-center border-bottom pb-2 text-primary">Menu</h4>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom pb-2 custom-link" href="{% url 'upload' %}">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom pb-2 custom-link" href="{% url 'host_list' %}">Hosts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom pb-2 custom-link" href="{% url 'command_list' %}">Comandos</a>
            </li>
        </ul>
    </div>
</nav>