{% extends 'fragments/base.html' %}
{% block content %}
  <h2 class="text-center text-primary">Upload do arquivo</h2>

  <!-- Spinner de carregamento -->
  <div id="loadingSpinner" class="text-center d-none">
    <span class="sr-only">Carregando...</span>
    <div class="spinner-border" role="status"></div>
    <p>Processando seu upload...</p>
  </div>

  <form action="{% url 'uploader' 0 0 %}" method="post" enctype="multipart/form-data" id="uploadForm">
    {% csrf_token %}
    
    <div class="custom-file mb-3">
        <select class="form-control form-control-lg" name="host_id" id="hostSelect" required>
            <option value="">Selecione um host</option>
            {% for host in hosts %}
            <option value="{{ host.id }}">{{ host }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="custom-file mb-3">
        <select class="form-control form-control-lg" name="command_id" id="commandSelect" required>
            <option value="">Selecione um comando</option>
            {% for command in commands %}
            <option value="{{ command.id }}">{{ command }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="custom-file mb-3">
        <input class="form-control form-control-lg" type="file" name="file" id="fileInput" placeholder="Escolha o arquivo..." required>
        <div id="error-message" style="color: red;"></div> <!-- Mensagem de erro -->
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block w-100">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0m-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0"/>
          </svg>
    </button>
  </form>

  {% if stdout_before or stderr_before %}
    <h4 class="text-center text-danger">Resultado do Comando Pré-Upload</h4>
    <div class="bg-light p-2">
        <hr>
        <pre>{{ stdout_before }}</pre>
        <hr>
        <pre>{{ stderr_before }}</pre>
    </div>
  {% endif %}

  {% if stdout_after or stderr_after %}
  <h4 class="text-center text-danger">Resultado do Comando Pós-Upload</h4>
  <div class="bg-light p-2">
        <hr>
        <pre>{{ stdout_after }}</pre>
        <hr>
        <pre>{{ stderr_after }}</pre>
    </div>
  {% endif %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
        // Função de validação
        function validateForm() {
            $('#error-message').text('');

            var fileInput = $('#fileInput')[0];
            var file = fileInput.files[0];

            if (!file) {
                $('#error-message').text('Por favor, selecione um arquivo.');
                return false;
            }

            // Valida o tamanho do arquivo
            var maxSize = 250 * 1024 * 1024; // 250 MB
            if (file.size > maxSize) {
                $('#error-message').text('O arquivo não pode exceder 250 MB.');
                return false;
            }

            // Valida as extensões permitidas
            var validExtensions = ['zip', 'rar', 'ear'];
            var fileExtension = file.name.split('.').pop().toLowerCase();
            if (!validExtensions.includes(fileExtension)) {
                $('#error-message').text('Tipo de arquivo não permitido. Apenas arquivos ZIP, RAR, EAR são aceitos.');
                return false;
            }

            // Verifica se os IDs são válidos
            const hostId = $('#hostSelect').val();
            const commandId = $('#commandSelect').val();
            if (hostId === "" || commandId === "") {
                $('#error-message').text('Por favor, selecione um host e um comando válidos.');
                return false;
            }

            return true;
        }

        // Função de envio
        function submitForm() {
            const hostId = $('#hostSelect').val();
            const commandId = $('#commandSelect').val();
            const actionUrl = "{% url 'uploader' 0 0 %}".replace('/0/0/', '/' + hostId + '/' + commandId + '/');

            // Ajusta a URL de ação e mostra o spinner
            $('#uploadForm').attr('action', actionUrl);
            $('#loadingSpinner').removeClass('d-none');
            $('#uploadForm')[0].submit();
        }

        // Evento de envio do formulário
        $('#uploadForm').on('submit', function(event) {
            event.preventDefault(); 

            // Verifica a validação antes do envio
            if (validateForm()) {
                submitForm();
            }
        });
    });
</script>


{% endblock %}
